# Python 缓存
__pycache__/
*.py[cod]

# 1. 忽略特定的文件夹（不管带不带点，建议都写上）
img/
video/
.img/
.video/
.static/thumbnails/
# 2. 忽略所有常见的图片/视频格式（防止有人把文件散落在外面）
*.jpg
*.jpeg
*.png
*.gif
*.mp4
*.mov
*.avi
*.wmv

# 3. 如果你有大文件（针对你之前提到的视频异常检测项目）
*.zip
*.tar.gz
*.7z